  <div class="col {{size}} gamelist-card">
    <div class="title">
      <a href="/gamelist/view/{{gamelist.id}}"><h2>{{title}}</h2></a>
    </div>
    <a href="/gamelist/edit/{{gamelist.id}}" class="edit-link">Edit</a>
  </div>
 