<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Game Watchers</title>

  <!-- Compiled and minified materialize CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" href="/stylesheets/style.css">

</head>
<header>

  <body>
    <div class="wrapper">
    <header>
      <nav class="nav-wrapper">
        <a class="brand-logo" href="/">Game Watchers</a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>

        {{#if loggedIn}}
        <ul class="right hide-on-med-and-down">
          <li><a href="/Gamelist">Gamelist</a></li>
          <li><a id="logout">logout</a></li>
        </ul>

        <ul class="sidenav" id="mobile-demo">
          <li><a href="/Gamelist">Gamelist</a></li>
          <li><a><button id="logout" class="btn-no-style">logout</button></a>></li>
        </ul>
        {{else}}
        <ul class="right hide-on-med-and-down">
          <li><a href="/login">login</a></li>
        </ul>
        <ul class="sidenav" id="mobile-demo">
          <li><a href="/login">login</a></li>
        </ul>

        {{/if}}
      </nav>
    </header>

    <main>
      {{{ body }}}
    </main>
    <footer class="page-footer">
      Have fun gaming!
    </footer>





    <!-- Compiled and minified materialize JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>


    {{#if loggedIn}}
    <script src="/javascript/logout.js"></script>
    {{/if}}

    <script>
      document.addEventListener('DOMContentLoaded', function () {
        var elems = document.querySelectorAll('.sidenav');
        var instances = M.Sidenav.init(elems);
      });
    </script>


    </div>
  </body>

</html>