<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Game Watchers</title>

  <!-- Compiled and minified materialize CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <!-- Materialize icon pack -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>



<body class="wrapper">
  {{!-- NAV START --}}
  <nav class="nav-wrapper">
    <header>
      <a class="brand-logo" href="/">Game Watchers</a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>

      {{#if loggedIn}}

      {{!-- DESKTOP NAV --}}
      <ul class="right hide-on-med-and-down">
        <li><a href="/Gamelist">Gamelist</a></li>
        <li><a id="logout">Logout</a></li>
      </ul>
      {{!-- MOBILE NAV --}}
      <ul class="sidenav" id="mobile-demo">
        <li><a href="/Gamelist">Gamelist</a></li>
        <li><a id="logout">Logout</a></li>
      </ul>

      {{else}}

      {{!-- DESKTOP NAV --}}
      <ul class="right hide-on-med-and-down">
        <li><a href="/login">Login</a></li>
      </ul>
      {{!-- MOBILE NAV --}}
      <ul class="sidenav" id="mobile-demo">
        <li><a href="/login">Login</a></li>
      </ul>

      {{/if}}

  </nav>
  {{!-- NAV END --}}
  </header>
  {{!-- MAIN --}}
  <main>
    {{{ body }}}
  </main>
  {{!-- MAIN END --}}

  {{!-- FOOTER --}}
  <footer class="page-footer">
    <div class="row">
      <div class="s12 center">
        Have Fun Gaming!
      </div>
    </div>
  </footer>
  {{!-- FOOTER END --}}

  <!-- Compiled and minified materialize JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

  {{#if loggedIn}}
  <script src="/javascript/logout.js"></script>
  {{/if}}

  <script>
    document.addEventListener('DOMContentLoaded', function () {
      var elems = document.querySelectorAll('.sidenav');
      var instances = M.Sidenav.init(elems);
    });
  </script>


</body>

</html>