<section>
  <h2>Create New Post</h2>

  <form class="new-gamelist-form">
    <div>
      <label for="gamelist-title">Title</label>
      <input type="text" id="gamelist-title" name="gamelist-title" />
    </div>
    <div>
      <label for="post-url">Link</label>
      <input id="post-url" name="post-url" />
    </div>
    <button type="submit" class="btn">Create</button>
  </form>
</section>

{{#if gamelists.length}}
<section>
  <h2>Your Gamelists</h2>
  <ol>
    {{#each gamelists as |gamelists|}}
    <li>
      {{!-- TODO: CREATE GAMELIST PARTIAL --}}
      
      {{!-- {{> post-info post}}
      <a href="/dashboard/edit/{{gamelists.id}}" class="edit-link">Edit post</a> --}}
    </li>
    {{/each}}
  </ol>
</section>
{{/if}}

<script src="/javascript/add-gamelist.js"></script>