:root {
  --white: #ccc;
  --primary: #225ca3;
  --secondary: #3486eb;
}

* {
  box-sizing: border-box;
} 

body {
  background-color: #252525;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

body, html {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  color: var(--white);
}

a {
  text-decoration: none;
  color: var(--primary);
  font-weight: bold;
  transition: color .1s;
}

a:hover {
  color: var(--secondary);
}

button {
  background-color: var(--primary);
  border: 0;
  padding: 1%;
  color: var(--white);
  font-weight: bold;
  transition: background-color .1s;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: var(--secondary);
}

.post-list {
  margin: 0;
  padding: 0;
}

textarea, input {
  padding: .5%;
  border-radius: 5px;
  border: 1px solid var(--white);
}

textarea:focus, input:focus {
  outline: none;
  border: 1px solid #3486eb;
}

textarea {
  min-width: 40%;
  min-height: 100px;
}

form > div {
  margin-bottom: 2%;
}

form label {
  display: block;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.nav-wrapper {
  padding: 0 25px;
}

.gamelist-column {
  /* background-color: rgba(0, 0, 0, 0.137); */
}

.gamelist-card {
  background-color: #00000025;
}

.gamelist-card-image{
  height: 150px;
  width: 100%;
  object-fit: cover;
}

.gamelist-card-title{
  margin-top: -30px;
}

header h1 {
  font-size: 1em;
}

main {
  flex: 1 0 auto;
  padding: 2% 4%;
}

.btn-no-style {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  text-decoration: none;
  color: white;
  font-size: 100%;
  font-weight: bold;
  transition: color .1s;
}

.btn-no-style:hover {
  background: none;
  color: var(--secondary);
}

.delete-post-btn {
  background-color: #d41414;
}

.delete-post-btn:hover {
  background-color: #ff643d;
}

.post {
  margin-bottom: 2%;
  line-height: 150%;
}

.post .title span {
  font-style: italic;
  font-size: 90%;
  color: #7d7d7d;
}

.edit-link {
  display: block;
  margin: -1.5% 0 2% 0;
}

.upvote-btn {
  background-color: #197d0f;
  transition: background-color .1s;
}

.upvote-btn:hover {
  background-color: #1f9c13;
}

.comment-form {
  margin-bottom: 5%;
}

.comment {
  padding: 1%;
  margin-bottom: 1%;
}

.comment:nth-child(odd) {
  background-color: #fff5eb;
}

.comment .meta {
  font-size: 90%;
  margin-bottom: .5%;
  opacity: .6;
}

form input, form div input {
  width: 300px;
  color: var(--white);
}

.s4, .s6, .s8, .s12, .col, .row{
  margin: 0;
}

.card-content {
  background-color: var(--white);
}

.card-content span {
  color: rgb(14, 14, 14)
}

/* Small */
@media (max-width:600px) {
  h2 {
    font-size: x-large;
  }
}
/* Medium and up */
@media (min-width:600px) {
  /* Seems very inefficient but it works sooo..... */
  .m12 > div > div > .card > .card-image > a > .gamelist-card-image {
    height: 300px;
  }

  /* Seems very inefficient but it works sooo..... */
  .m6 > div > div > .card > .card-image > a > .gamelist-card-image {
    height: 200px;
  }
}