:root {
  --offWhite: #ccc;
  --primary: #225ca3;
  --secondary: #3486eb;
}

* {
  box-sizing: border-box;
} 

body {
  background-color: #252525;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

body, html {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  color: var(--offWhite);
}

.nav-a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  transition: color .1s;
}

.nav-a:hover {
  color: var(--secondary);
}

.wrapper {
  width: 100%;
  min-height: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.nav-wrapper {
  padding: 0 25px;
}

main {
  flex: 1 0 auto;
  padding: 2% 4%;
}

.delete-btn {
  background-color: #d41414;
}

.delete-btn:hover {
  background-color: #ff643d;
}

form input {
  width: 300px;
  color: var(--offWhite);
}

.col, .row{
  margin: 0;
}

.card {
  border-radius: 10px;
}

.card .card-content {
  padding: 12px;
}

.card-content span {
  color: rgb(14, 14, 14)
}

.gamelist-card {
  background-color: #00000025;
}

.gamelist-card-image{
  height: 150px;
  width: 100%;
  object-fit: cover;
}

.gamelist-card-title{
  margin-top: -30px;
}

/* Extra Small */
@media (max-width:440px) {
  nav .brand-logo {
    font-size: 1.25rem;
  }
}

/* Small */
@media (max-width:600px) {
  h2 {
    font-size: x-large;
  }
}

/* Medium and up */
@media (min-width:600px) {
  /* Seems very inefficient but it works sooo..... */
  .m12 > div > div > .card > .card-image > a > .gamelist-card-image {
    height: 300px;
  }

  /* Seems very inefficient but it works sooo..... */
  .m6 > div > div > .card > .card-image > a > .gamelist-card-image {
    height: 200px;
  }
}