:root {
  --white: #ccc;
  --primary: #225ca3;
  --secondary: #3486eb;
}

* {
  box-sizing: border-box;
} 

body {
  background-color: #252525;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

body, html {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  color: var(--white);
}

.nav-a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  transition: color .1s;
}

.nav-a:hover {
  color: var(--secondary);
}

/* button {
  background-color: var(--primary);
  border: 0;
  padding: 1%;
  color: var(--white);
  font-weight: bold;
  transition: background-color .1s;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: var(--secondary);
} */

.post-list {
  margin: 0;
  padding: 0;
}

textarea, input {
  padding: .5%;
  border-radius: 5px;
  border: 1px solid var(--white);
}

textarea:focus, input:focus {
  outline: none;
  border: 1px solid #3486eb;
}

textarea {
  min-width: 40%;
  min-height: 100px;
}

form > div {
  margin-bottom: 2%;
}

form label {
  display: block;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.nav-wrapper {
  padding: 0 25px;
}

main {
  flex: 1 0 auto;
  padding: 2% 4%;
}

.delete-btn {
  background-color: #d41414;
}

.delete-btn:hover {
  background-color: #ff643d;
}

form input {
  width: 300px;
  color: var(--white);
}

.col, .row{
  margin: 0;
}

.card {
  border-radius: 10px;
}

.card-content span {
  color: rgb(14, 14, 14)
}

.gamelist-card {
  background-color: #00000025;
}

.gamelist-card-image{
  height: 150px;
  width: 100%;
  object-fit: cover;
}

.gamelist-card-title{
  margin-top: -30px;
}

/* Extra Small */
@media (max-width:440px) {
  nav .brand-logo {
    font-size: 1.25rem;
  }
}

/* Small */
@media (max-width:600px) {
  h2 {
    font-size: x-large;
  }
}
/* Medium and up */
@media (min-width:600px) {
  /* Seems very inefficient but it works sooo..... */
  .m12 > div > div > .card > .card-image > a > .gamelist-card-image, .m12 > div > div > a > .card > .card-image > .gamelist-card-image {
    height: 300px;
  }

  /* Seems very inefficient but it works sooo..... */
  .m6 > div > div > .card > .card-image > a > .gamelist-card-image, .m6 > div > div > a > .card > .card-image > .gamelist-card-image {
    height: 200px;
  }
}